body {
    background-color: 	#36393e;
    font-family: sans-serif;
    color: white;
    float: inline-start;
    /* Gladly stole this part of the css in the body from https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/#:~:text=Use%20animation%20and%20transition%20property%20to%20create%20a,ease%2C%20the%20animation%20smoothly%20fades%20in%20the%20page.*/
    animation: fadeInAnimation ease 8s; 
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    text-align: center;
}

.date {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: #ffffba;
}

p {
    text-align: center;
    position: static;

}

@keyframes text {
    0% {
        top: 0.9px;
    }
    25% {
        top: -40px;
    }
    100% {
        top: 9px;
    }
}

.paragrah {
    position: relative;
    top: auto;
    animation-name: text;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}







