body {
    background-color: 	#36393e;
    font-family: sans-serif;
    color: white;
}

h1 {
    text-align: center;
}

.date {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: #ffffba;
}

p {
    text-align: center;
    position: static;

}